/*B0TTOM HEADER*/
.menu-mobile-nav_ldp_daimond{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid $color-main-ldp-daimond;
  position: absolute;
  color: $color-main-ldp-daimond;
  top: 15px;
  right: 15px;
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  @media screen and (max-width: 991px) {
    opacity: 1;
  }
}
.gb-bottom-header{
  background: $color-6;
  @media screen and (max-width: 991px) {
    display:  none;
  }
  ul{
    text-align: center;
    li{
      display:  inline-block;
      @media screen and (max-width: 991px) {
        display:  block;
      }
      &:first-child{
        a{
          padding-left: 0;
        }
      }
      &:last-child{
        a{
          @media screen and (max-width: 991px) {
            border-bottom: none;
          }
        }
      }
      a{
        display: block;
        font-size: 15px;
        color: $color-main-ldp-daimond;
        padding: 20px 15px;
        font-weight: bold;
        text-transform: uppercase;
        @media screen and (max-width: 1199px) and (min-width: 992px) {
          font-size: 11px;
          padding: 20px 5px;
        };
        @media screen and (max-width: 991px) {
          padding: 20px;
          border-bottom: 1px solid $color-white;
        }
      }
    }
  }
}
.is-sticky{
  @media screen and (max-width: 991px) {
    visibility:  hidden;
  }
}
.sticky-wrapper{
  @media screen and (max-width: 991px) {
    height: auto !important;
  }
}