.box_price_product_ariotoys{
  .current_price {
    font-size: 14px;
    color: #227688;
    font-weight: 700;
    margin-right: 10px;
  }
  .old_price {
    font-size: 14px;
    color: #999;
    font-weight: 500;
    text-decoration: line-through;
  }
}