/*Định nghĩa màu cho website*/
$color-main: #227688;
$color1: #fcae1d;
$color2: #000;
$color3: #fff;
$color4: #222;
$color5: #dddddd;
$color6: #666666;
$color7: #e0e0e0;
$color9: rgba(0, 0, 0, 0.5);
$color10: #22292d;
$color11: #333;
$color12: #aeaeae;
$color13: #343c40;
$color14: #404040;
$color15: #808080;
$color-white:#fff;

$color-sub1: #fff;
$color-sub2: #000;

$color-background-1: #fff;
$color-background-2: #fff;
$color-button: #fff;


$color-other1: #fff;
$color-other2: #fff;
$color-white: #fff;
$color-grey: #a7a7a7;
$color-1: #5b5b5b;
$color-2: #3a3a3a;
$color-3: #999;
$color-4: #f4f4f4;

// MÀU CHỮ landingpage learning
$color-main1: #0553a3;
$color-main2: #c52027;
$color-white: #fff;
$color-grey: #a7a7a7;
$color-1: #333;
$color-2: #3a3a3a;
$color-3: #999;
$color-4: #f4f4f4;
$color-6: #373737;
$color-white: #fff;
$color-black: #333;

//màu của web remmanh
$color-border: #dcdcdc;
/*Định nghĩa font-family cho website*/

//MÀU CỦA WEB LDP GREENCOFFEE
$color-pink: rgb(235,225,206);

//MÀU WEB QUANGTRUONG JEWELRY
$color-main-ldp-daimond: #faad27;

//MÀU CHỦ ĐẠO CHO NAUSTORE
$color-main-naustore: #000000;
$color-main1-naustore: #f2008d;

//MÀU CHỦ ĐẠO CHO REMCANVAS
$color-main-remcanvas: #52c3c1;
$color-main1-remcanvas: #f79321;

//MÀU CHỦ ĐẠO CHO WEBSITE VINHOMES
$color-main-ldpvinhome: #469ae9;
$color-main-1-ldpvinhome: #FF4E4E;

//MÀU CHỦ ĐẠO CHO WEBSITE OFH COMESTIC
$color-main-organic: #b8e866;
$color-main1-organic: #FF4E4E;

//MÀU CHỦ ĐẠO CHO WEBSITE DẤT XANH MIỀN BẮC
$color-main-datxanhmb: #015ea7;
$color-main-1-datxanhmb: #f48020;

//FONT MONSTERRATS
@import "../plugin/fonts/montserrat/montserrat.css";
@import "../plugin/fonts/opensans/opensans.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese";
@import "https://fonts.googleapis.com/css?family=Bad+Script&amp;subset=cyrillic";

//FONT VARIABLER
$monserrat: 'Montserrat';
$opensans: 'Open Sans';
$opensans-1: 'Open Sans Condensed', sans-serif;
$badscript: 'Bad Script', cursive;



/*Định nghĩa font-size cho website*/


