.product-item-cms-cms {
  margin-top: 30px; }
  .product-item-cms-cms:hover .category-product-cms li .wrapper {
    -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.15); }
    .product-item-cms-cms:hover .category-product-cms li .wrapper .feature-image {
      background: #fff; }
  .product-item-cms-cms .category-product-cms {
    border: solid 1px #f0f0f0; }
    .product-item-cms-cms .category-product-cms li .wrapper {
      border-radius: 3px;
      background-color: #ffffff;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .product-item-cms-cms .category-product-cms li .wrapper .feature-image {
        position: relative;
        background: #f9f9f9;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        @media screen and (min-width: 992px) {
          .product-item-cms-cms .category-product-cms li .wrapper .feature-image {
            width: 100%;
            height: 270px;
            overflow: hidden; }
            .product-item-cms-cms .category-product-cms li .wrapper .feature-image img {
              width: 100%;
              height: auto;
              margin: 0 auto; } }
        @media screen and (max-width: 991px) {
          .product-item-cms-cms .category-product-cms li .wrapper .feature-image img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 30px 0; } }
      .product-item-cms-cms .category-product-cms li .wrapper .stats {
        padding: 20px; }
        .product-item-cms-cms .category-product-cms li .wrapper .stats .box-title .title-product a {
          display: block;
          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.14;
          letter-spacing: normal;
          text-align: center;
          color: #333333;
          text-transform: uppercase;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
          @media screen and (max-width: 1199px) and (min-width: 992px) {
            .product-item-cms-cms .category-product-cms li .wrapper .stats .box-title .title-product a {
              font-size: 14px; } }
          .product-item-cms-cms .category-product-cms li .wrapper .stats .box-title .title-product a:hover {
            color: #fcae1d; }
        .product-item-cms-cms .category-product-cms li .wrapper .stats .price-add-cart-cms {
          padding-top: 10px; }
