.uni-footer-newletter_vyhofoco{
  padding: 30px 15px;
  background: url("../images/biathu.png") no-repeat center center;
  background-size: contain;
  margin: 50px 0;
  @media screen and (max-width: 991px){
    background: transparent;
    margin:  0;
  }
  .input-group{
    border-radius: 4px;
  }
  .form-control{
    height: 44px;
    border: 1px solid #dbdbdb;
    border-radius: 0;
  }
  p{
    color: $color-1;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
    @media screen and (max-width: 767px){
      margin-top: 10px;
    }
  }
  span{
    .btn-theme{
      height: 44px;
      color: $color-white;
      border-radius: 0;
      border: 1px solid #dbdbdb;
      background: $color-main-vyhofoco;
    }
  }
}