.gb-hotrotuvan_xdshop{
  border: 1px solid #ccc;
  margin-bottom: 30px;
  .titlePhone_xdshop{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10%;
  }
  .mailPhone_xdshop{
    font-size: 14px;
    background-color: #FBEEE6;
    line-height: 40px;
    padding-left: 20px;
  }
}