.gb-home-map_ldp_daimond-text{
  padding: 50px 0;
  ul{
    li{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.1;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
      span{
        font-weight: 700;
      }
    }
  }
}