.gb-sidebar-gallery-vyhofoco{
  .widget-content{
    ul{
      display:  flow-root;
      li{
        width: 33.33%;
        float:  left;
        img{
          width: 100%;
          height: 100px;
        }
      }
    }
  }
}