.gb-timkiem-sidebar-body_bdshn{
  padding: 10px;
  span{
    font-size: 14px;
    color: $color-main-bdshn;
    display:  block;
    margin-bottom: 10px;
  }
  .form-control{
    height: 30px;
    border-radius: 0;
    padding: 3px 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .input_button_timkiem{
    font-size: 14px;
  }
}