.price_CategoryProduct_Home_1_xdshop{
  .price_old_news{
    font-size: 16px;
    font-weight: bold;
    color: #C13820;
    line-height: 24px;
    text-align: center;
  }
  .price_old_xdshop{
    font-size: 15px;
    color: #999;
    line-height: 24px;
    text-decoration: line-through;
    text-align: center;
  }
}