/*Menu mobiles*/
.mobile-nav-cms .navbar-toggle {
  z-index: 999999;
  top: 21px; }

.mobile-nav-cms #cssmenu_cms,
.mobile-nav-cms #cssmenu_cms ul,
.mobile-nav-cms #cssmenu_cms ul li,
.mobile-nav-cms #cssmenu_cms ul li a,
.mobile-nav-cms #cssmenu_cms #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mobile-nav-cms #cssmenu_cms > ul > li > a {
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #ffffff;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }

.mobile-nav-cms #cssmenu_cms ul ul li a {
  display: block;
  font-family: 'Poppins';
  font-size: 14px;
  text-align: left;
  color: #222222;
  padding: 17px 20px;
  min-width: 240px;
  background: transparent;
  border-top: 1px solid #e0e0e0;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease; }

@media screen and (max-width: 991px) {
  .mobile-nav-cms #cssmenu_cms {
    width: 100%;
    background: #22292d;
    display: none;
    position: absolute;
    min-height: 100%;
    z-index: 2000000; }
  .mobile-nav-cms .uni-icons-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: solid 1px #333333;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px; }
    .mobile-nav-cms .uni-icons-close i {
      font-family: FontAwesome;
      font-size: 15px;
      line-height: 2.93;
      text-align: center;
      color: #aeaeae; }
  .mobile-nav-cms #cssmenu_cms ul {
    width: 100%;
    display: none;
    padding: 0 30px;
    background: transparent; }
  .mobile-nav-cms #cssmenu_cms ul ul {
    background: transparent;
    padding-right: 0; }
  .mobile-nav-cms #cssmenu_cms.align-center > ul,
  .mobile-nav-cms #cssmenu_cms.align-right ul ul {
    text-align: left; }
  .mobile-nav-cms #cssmenu_cms ul li,
  .mobile-nav-cms #cssmenu_cms ul ul li,
  .mobile-nav-cms #cssmenu_cms ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15); }
  .mobile-nav-cms #cssmenu_cms ul ul li,
  .mobile-nav-cms #cssmenu_cms ul li:hover > ul > li {
    border-top: 1px solid transparent; }
  .mobile-nav-cms #cssmenu_cms li:hover > ul {
    border-top: 1px solid rgba(120, 120, 120, 0.15); }
  .mobile-nav-cms #cssmenu_cms ul li a,
  .mobile-nav-cms #cssmenu_cms ul ul li a {
    width: 100%;
    padding: 11px 0;
    text-transform: inherit; }
  .mobile-nav-cms #cssmenu_cms > ul > li,
  .mobile-nav-cms #cssmenu_cms.align-center > ul > li,
  .mobile-nav-cms #cssmenu_cms.align-right > ul > li {
    float: none;
    display: block; }
  .mobile-nav-cms #cssmenu_cms ul ul li:last-child a {
    border-bottom: none; }
  .mobile-nav-cms #cssmenu_cms ul ul li a {
    display: block;
    line-height: 24px;
    font-size: 14px;
    color: #aeaeae;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(120, 120, 120, 0.15); }
  .mobile-nav-cms #cssmenu_cms ul ul li:hover > a,
  .mobile-nav-cms #cssmenu_cms ul ul li a:hover {
    color: #3f97da; }
  .mobile-nav-cms .home-icon {
    background: transparent; }
  .mobile-nav-cms #cssmenu_cms > ul > li:hover > a,
  .mobile-nav-cms #cssmenu_cms > ul > li.active > a {
    color: #3f97da !important; }
  .mobile-nav-cms #cssmenu_cms ul ul ul li a {
    padding-left: 0;
    border-top: none; }
  .mobile-nav-cms #cssmenu_cms ul ul,
  .mobile-nav-cms #cssmenu_cms ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
    border-top: 1px solid rgba(120, 120, 120, 0.15); }
  .mobile-nav-cms #cssmenu_cms > ul > li.has-sub > a::after,
  .mobile-nav-cms #cssmenu_cms ul ul li.has-sub > a::after {
    display: none; }
  .mobile-nav-cms #menu-line {
    display: none; }
  .mobile-nav-cms #cssmenu_cms #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer; }
  .mobile-nav-cms #cssmenu_cms .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border-left: 1px solid rgba(120, 120, 120, 0.15); }
  .mobile-nav-cms #cssmenu_cms .submenu-button::after {
    content: '\f107';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    font-family: FontAwesome;
    color: #fff;
    z-index: 99; }
  .mobile-nav-cms #cssmenu_cms .submenu-button.active::before {
    content: '\f106';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    font-family: FontAwesome;
    color: #3f97da;
    z-index: 99; }
  .mobile-nav-cms #cssmenu_cms ul li ul li .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 20px;
    display: block;
    width: 1px;
    height: 11px;
    background: #fff;
    z-index: 99; }
  .mobile-nav-cms #cssmenu_cms ul li ul li .submenu-button::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 21px;
    display: block;
    width: 11px;
    height: 1px;
    background: #fff;
    z-index: 99; }
  .mobile-nav-cms #cssmenu_cms ul li ul li .submenu-button.active::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 21px;
    display: block;
    width: 11px;
    height: 1px;
    background: #3f97da;
    z-index: 99; }
  .mobile-nav-cms #cssmenu_cms .submenu-button.submenu-opened:after {
    display: none; }
  .mobile-nav-cms .navbar-toggle .icon-bar {
    display: inline-block; } }
