.gb-sidebar-refine-vyhofoco{
  .group-name{
    color: #1a1a1a;
    display: block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: -1px;
    position: relative;
  }
  .checkbox{
    label{
      color: #797979;
      font-size: 13px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}